/* ===========================
   Base
   =========================== */

html, body {
    font-family: $font1;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
}

a, .nav li a {
  font-size: $medium;
  color: $gray-1;
  text-decoration: none;
  @include transition();

  &:hover {
    background: none;
    color: $gray-2;
  }
}

::-moz-selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
