/* Compass */
/* Tools */
/* Base */
/* ===========================
   Base
   =========================== */
/* line 5, ../scss/base/_base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5; }

/* line 12, ../scss/base/_base.scss */
a {
  color: #df2e30;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  /* line 17, ../scss/base/_base.scss */
  a:hover {
    color: #bd1d1f; }

/* line 22, ../scss/base/_base.scss */
::-moz-selection {
  background: #df2e30;
  color: #fff;
  text-shadow: none; }

/* line 27, ../scss/base/_base.scss */
::selection {
  background: #df2e30;
  color: #fff;
  text-shadow: none; }

/* line 33, ../scss/base/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* Fonts */
/* Layout */
/* ==|====================
   Layout/Main
   ======================= */
/* line 8, ../scss/layout/_main.scss */
.wrapper {
  width: 100%;
  padding: 0;
  margin: 0; }

/* ==|====================
   Layout/Header
   ======================= */
/* ==|====================
   Layout/Nav
   ======================= */
/* line 1, ../scss/layout/_sketchbook.scss */
.sketch {
  padding: 1em; }
  /* line 3, ../scss/layout/_sketchbook.scss */
  .sketch img {
    width: 100%;
    height: auto; }

/* ==|====================
   Layout/Footer
   ======================= */
/* Modules */
